svg {
	max-height: 100%;
}

@-ms-viewport {
	width: device-width;
}

@font-face {
	font-family: HelveticaMedium;
	src: url("../fonts/HelveticaNeueLTStd-Md.otf");
}

@font-face {
	font-family: HelveticaLight;
	src: url("../fonts/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
	font-family: HelveticaHeavy;
	src: url("../fonts/HelveticaNeueLTStd-Hv.otf");
}

@font-face {
	font-family: HelveticaRoman;
	src: url("../fonts/HelveticaNeueLTStd-Roman.otf");
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

body {
	background: white;
}

.navbar {
	background: #141b1e;
}

.navbar-default .navbar-toggler .icon-bar {
	background-color: black;
}

#footer {
	border-top: thin solid grey;
	margin-bottom: 5px;
	font-size: 10px;
	font-family: HelveticaMedium;
	color: #959595;
	text-align: center;
	padding-top: 20px;
}

#disclaimer {
	width: 77%;
}

#titleimage {
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 50px;
}

#titlecontainer {
	/*	background-image: url(../images/logo_ai.svg);
*/
	background-position: 50%, 40%;
	background-repeat: no-repeat;
	/*	display: inline-block;*/
	position: relative;
	width: 100%;
	/*padding-bottom: 50%;*/
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	min-height: 100%;
	background-color: #141b1e;
}

.subheading {
	color: white;
	font-family: HelveticaLight;
	font-size: 30px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.subheading {
		font-size: 20px;
	}
}

#shit {
	font-family: HelveticaHeavy;
	display: inline;
}

.insighttext {
	font-family: HelveticaLight;
}

.insightcolumn {
	color: #959595;
	padding-left: 20px;
	padding-right: 20px;
}

.insightrow {
	margin-left: 100px;
	margin-right: 100px;
}

#titlecopyright {
	font-family: HelveticaLight;
	color: #959595;
	font-size: 13px;
	margin-top: 9em;
	margin-bottom: 2em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	#titlecopyright {
		margin-top: 12em;
		margin-bottom: 0px;
	}
}

.infocontainer {
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	min-height: 100%;
}

#tablecontainer {
	padding-top: 100px;
	margin-bottom: -80;
	min-height: 100%;
}

#chartcontainer {
	min-height: 100%;
}

#emailform {
	display: inline-block;
	font-family: HelveticaRoman;
	position: absolute;
	margin-top: 25px;
	right: 0;
	left: 0;
	overflow: hidden;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	#emailform {
		width: 70%;
		left: 15%;
	}
}

#emailform2 {
	display: inline-block;
	font-family: HelveticaRoman;
	position: absolute;
	top: 55%;
	right: 0;
	left: 0;
	overflow: hidden;
	background-color: white;
}

#outrocontainer {
	text-align: center;
	margin-top: 220px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	#outrocontainer {
		margin-top: 0px;
	}
}

.email {
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	width: 20em;
	border-radius: 0;
	height: 50px;
}

.signup {
	color: #ffffff;
	font-size: 18px;
	background: #1daafc;
	padding: 7px 20px 7px 20px;
	border: solid #1daafc 3px;
	text-decoration: none;
	letter-spacing: 1px;
	height: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.signup {
		margin-top: 20px;
		width: 70%;
		left: 15%;
	}
}

.signup:hover {
	background: #fcfcfc;
	text-decoration: none;
	color: black;
	border-color: #fcfcfc;
}

#signup2 {
	color: #959595;
	font-size: 18px;
	background: white;
	padding: 7px 20px 7px 20px;
	border: solid #959595 2px;
	text-decoration: none;
	letter-spacing: 1px;
	height: 50px;
}

#signup2:hover {
	background: #141b1e;
	text-decoration: none;
	color: white;
	border-color: #141b1e;
}

#invite {
	border-radius: 0;
	width: 9em;
}

#activate {
	color: #ffffff;
	font-size: 14px;
	background: #141b1e;
	padding: 7px 20px 7px 20px;
	border: solid white 2px;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: HelveticaMedium;
	margin-left: 10px;
}

#activate:hover {
	color: #141b1e;
	background-color: #ffffff;
	border-color: #ffffff;
}

#bcrisubtitle {
	margin-right: 2em;
	font-family: HelveticaHeavy;
	color: #959595;
	font-size: 22px;
}

#bcriparagraph {
	margin-right: 2em;
	font-family: HelveticaLight;
	color: #959595;
	font-size: 19px;
}

#scroll {
	font-size: 30px;
	color: white;
	margin-top: 3em;
	margin-bottom: 2em;
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

#scroll:hover {
	opacity: 0.7;
}

#section08 a {
	padding-top: 60px;
}
#section08 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
#section08 a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#iceberg2 {
	background-image: url(../images/vec_berg.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
}

#details {
	color: #959595;
	font-size: 18px;
	background: white;
	padding: 7px 20px 7px 20px;
	border: solid #959595 2px;
	text-decoration: none;
	letter-spacing: 1px;
}

#details:hover {
	background: #959595;
	text-decoration: none;
	color: white;
}

.footer-text {
	color: #959595;
	font-family: HelveticaRoman;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.icon {
	color: black;
}

.navbar,
.navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}
