svg {
	max-height: 100%;
}

@font-face {
	font-family: HelveticaMedium;
	src: url("../fonts/HelveticaNeueLTStd-Md.otf");
}

@font-face {
	font-family: HelveticaLight;
	src: url("../fonts/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
	font-family: HelveticaHeavy;
	src: url("../fonts/HelveticaNeueLTStd-Hv.otf");
}

@font-face {
	font-family: HelveticaRoman;
	src: url("../fonts/HelveticaNeueLTStd-Roman.otf");
}

html,
body {
	height: 100%;
}

body {
	background: #141b1e no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	font-family: Helvetica;
	min-height: 100%;
}

.navbar-default .navbar-toggler .icon-bar {
	background-color: black;
}

#footer {
	border-top: thin solid grey;
	padding: 15px 300px 35px 300px;
	margin-bottom: 0px;
	font-size: 10px;
	font-family: HelveticaMedium;
	color: #8fa3ad;
	text-align: center;
}

#titleimage {
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 50px;
}

#titlecontainer {
	/*	background-image: url(../images/logo_ai.svg);
*/
	background-position: 50%, 40%;
	background-repeat: no-repeat;
	/*	display: inline-block;*/
	position: relative;
	width: 100%;
	/*padding-bottom: 50%;*/
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	min-height: 100%;
}

.subheading {
	color: white;
	font-family: HelveticaLight;
	font-size: 30px;
}

#shit {
	font-family: HelveticaHeavy;
	display: inline;
}

#titlecopyright {
	font-family: HelveticaLight;
	color: #959595;
	font-size: 13px;
	margin-top: 9em;
	margin-bottom: 2em;
}

.infocontainer {
	background-color: white;
	padding-top: 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 100px;
}

#emailform {
	display: inline-block;
	font-family: HelveticaRoman;
	position: absolute;
	margin-top: 25px;
	right: 0;
	left: 0;
	overflow: hidden;
}

#emailform2 {
	display: inline-block;
	font-family: HelveticaRoman;
	position: absolute;
	top: 55%;
	right: 0;
	left: 0;
	overflow: hidden;
	background-color: white;
}

.email {
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	width: 20em;
}

#signup {
	color: #ffffff;
	font-size: 18px;
	background: #1daafc;
	padding: 7px 20px 7px 20px;
	border: solid #1daafc 3px;
	text-decoration: none;
	letter-spacing: 1px;
}

#signup:hover {
	background: #fcfcfc;
	text-decoration: none;
	color: grey;
}

#signup2 {
	color: #8fa3ad;
	font-size: 18px;
	background: white;
	padding: 7px 20px 7px 20px;
	border: solid #8fa3ad 2px;
	text-decoration: none;
	letter-spacing: 1px;
}

#signup2:hover {
	background: #141b1e;
	text-decoration: none;
	color: white;
}

#scroll {
	font-size: 30px;
	color: white;
	margin-top: 3em;
	margin-bottom: 2em;
}

#scroll:hover {
	opacity: 0.7;
}

#section08 a {
	padding-top: 60px;
}
#section08 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
#section08 a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#iceberg2 {
	background-image: url(../images/vec_berg.svg);
	background-position: 100% 70%;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
}

#details {
	color: #141b1e;
	font-size: 18px;
	background: white;
	padding: 7px 20px 7px 20px;
	border: solid #8fa3ad 2px;
	text-decoration: none;
	letter-spacing: 1px;
}

#details:hover {
	background: #8fa3ad;
	text-decoration: none;
	color: white;
}

.footer-text {
	color: #8fa3ad;
	font-family: HelveticaRoman;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
}

.icon {
	color: black;
}
