@font-face {
	font-family: HelveticaMedium;
	src: url("../fonts/HelveticaNeueLTStd-Md.otf");
}

@font-face {
	font-family: HelveticaRoman;
	src: url("../fonts/HelveticaNeueLTStd-Roman.otf");
}

body {
	background: url("../images/backdrop.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 70px;
}

.navbar-default .navbar-toggler .icon-bar {
	background-color: black;
}

#titleimage {
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 50px;
}

#titlecontainer {
	background-image: url(../images/title.svg);
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
}

#emailform {
	display: inline-block;
	font-family: HelveticaMedium;
	position: absolute;
	top: 55%;
	right: 0;
	left: 0;
}

#email {
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	width: 500px;
}

#signup {
	color: #ffffff;
	font-size: 18px;
	background: #8fa3ad;
	padding: 7px 20px 7px 20px;
	border: solid #ffffff 3px;
	text-decoration: none;
}

#signup:hover {
	background: #fcfcfc;
	text-decoration: none;
	color: grey;
}
